.background-image-tulipanes {
  background-image: url("../../../assets/imgs/tulipanes.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  /* filter: blur(2px); */
}