<header class="custom-header border-bottom fixed-top bg-blanco">
  <div class="container-fluid d-flex justify-content-between align-items-center py-3 px-5">
    
    <div class="d-flex justify-content-between align-items-center gap-5" >

        <!-- Logo Central -->
      <div class="text-center">
        <img src="../../../assets/imgs/logo-noorstitches.webp" alt="Noor Stitches Logo" width="100">
      </div>
          <!-- Menú Izquierdo -->
      <nav>
        <ul class="nav gap-1">
          <li class="nav-item"><a class="nav-link text-morado-intermedio-1 bold link-active" routerLink="/home" routerLinkActive="link-activo">Home</a></li>
          <li class="nav-item"><a class="nav-link text-morado-intermedio-1 bold link-active" routerLink="/tienda" routerLinkActive="link-activo">Tienda</a></li>
          <li class="nav-item"><a class="nav-link text-morado-intermedio-1 bold link-active" routerLink="/contactanos" routerLinkActive="link-activo">Contáctanos</a></li>
          <li class="nav-item"><a class="nav-link text-morado-intermedio-1 bold link-active" routerLink="/preguntasFrecuentes" routerLinkActive="link-activo">Preguntas frecuentes</a></li>
        </ul>
      </nav>
    </div>
  
    <!-- Iconos a la derecha -->
     @if (this.userLogueado()){
        <div class="d-flex align-items-center gap-3">
        
        <div class="d-flex justify-content-center align-items-center gap-2">
          <p class="text-black fw-bold mb-1">{{ userLogueado()?.nombre }}</p>
          <button type="button" class="btn btn-link p-0 m-0" style="background: transparent; border: none; cursor: pointer;">
            <mat-icon class="text-morado-intermedio-1">person</mat-icon>
          </button>
        </div>

      <div class="carrito-container position-relative">
        <button type="button" class="btn-link bg-transparent border-0 p-0 m-0 cursor-pointer" routerLink="/favoritos">
          <mat-icon class="text-morado-intermedio-1">favorite</mat-icon>
        </button>
      </div>

      <div class="carrito-container position-relative">
        <button type="button" class="btn-link bg-transparent border-0 p-0 m-0 cursor-pointer" routerLink="/carrito">
          <mat-icon class="text-morado-intermedio-1">shopping_cart</mat-icon>
        </button>
        <span class="badge-carrito"> {{ cantidadProductosCarrito }}</span>
      </div>
      
      <div class="carrito-container position-relative">
        <button type="button" class="btn-link bg-transparent border-0 p-0 m-0 cursor-pointer" routerLink="/settings">
          <mat-icon class="text-morado-intermedio-1">settings</mat-icon>
        </button>
      </div>

        <div class="carrito-container position-relative">
          <button type="button" class="btn-link bg-transparent border-0 p-0 m-0 cursor-pointer" (click)="logout()">
            <mat-icon class="text-morado-intermedio-1">logout</mat-icon>
          </button>
        </div>
      </div>
     } @else {
        <div class="carrito-container position-relative">
          <button type="button" class="btn-link bg-transparent border-0 p-0 m-0 cursor-pointer d-flex align-items-center gap-2" routerLink="">
            <mat-icon class="text-morado-intermedio-1">person</mat-icon>
            <p class="mb-0 medium">Inicia sesión/Regístrate</p>
          </button>
        </div>
     }
    
  </div>
</header>
