
/* COLORES --------------------------------------- */

:root {
    --morado-oscuro: #221950;
    --morado-intermedio-1: #8457B1;
    --morado-intermedio-2: #C0B2DE;
    --morado-claro: #DCCDFB;
    --blanco: #FFFFFF;
    --negro: #000000;
}

/* ESTILOS GLOBALES --------------------------------------- */

* {
  font-family: "Baloo 2", sans-serif;
}


/* FUENTES --------------------------------------- */

.regular {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.bold {
  font-weight: 700;
}

.extrabold {
    font-weight: 800;
}

/* COLORES TEXTO --------------------------------- */

.text-morado-oscuro {
    color: var(--morado-oscuro) !important;
}

.text-morado-intermedio-1 {
    color: var(--morado-intermedio-1);
}

.text-morado-intermedio-2 {
    color: var(--morado-intermedio-2)
}

.text-morado-claro {
    color: var(--morado-claro)
}

.text-blanco {
    color: var(--blanco)
}

.text-negro {
    color: var(--negro)
}

/* BACKGROUND COLOR ------------------------------- */


.bg-blanco {
    background-color: var(--blanco);
}

.bg-morado-oscuro {
    background-color: var(--morado-oscuro);
}

.bg-morado-intermedio-1 {
    background-color: var(--morado-intermedio-1);
}

.bg-morado-intermedio-2 {
    background-color: var(--morado-intermedio-2);
}

/* BORDES --------------------------------------- */

.border-morado-intermedio-1 {
    border: 2px solid var(--morado-intermedio-1);
    border-radius: 8px;
}

/* TITULOS --------------------------------------- */

.h2 {
    font-size: 48px;
    color: var(--morado-intermedio-1);
    font-weight: bold;
}

.h3 {
    font-size: 24px;
    color: var(--morado-intermedio-1);
    font-weight: bold;
}

/* BOTONES --------------------------------------- */

.btnConIcono:hover {
    background-color: var(--morado-intermedio-1);
    color: var(--blanco);
    
    mat-icon {
        color: var(--blanco);
    }
}

.btnConIconoReverse:hover {
    background-color: var(--blanco);
    color: var(--morado-intermedio-1);
    border: 2px solid var(--morado-intermedio-1);
    
    mat-icon {
        color: var(--morado-intermedio-1);
    }
}

.btnSinIcono {
    background-color: var(--morado-intermedio-1);
    color: var(--blanco);
    border-style: none;
    border: 1px solid var(--morado-intermedio-1) !important;
    border-radius: 8px;
    padding: 12px;
    width: 25%;
}

.btnSinIcono:hover {
    background-color: var(--blanco);
    color: var(--morado-intermedio-1);
    border-style: none;
}

/* PRODUCT-CARD -------------------------------- */

.tarjeta-producto {
  width: 18rem;
  height: 25em;
}

.grid-productos {
  display: flex;
  flex-wrap: wrap;
  gap: 4em;
  justify-content: center;
  align-items: center;
  place-items: center;
}

.separacion-header {
    margin-top: 1000px;
}

.separacion-header-home {
    margin-top: 118px !important;
}