<div class="container py-5 separacion-header-home">
  <div class="row mb-5">
    <div class="col-12">
      <div class="row p-0 m-0 divider-con-borde">
        <p class="h3 text-morado-intermedio-1 extrabold">Mi Cuenta</p>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-12">
      <nav class="navbar navbar-light bg-morado-claro py-3">
        <div class="container">
          <div class="w-100">
            <ul class="nav nav-pills justify-content-start gap-2">
              <li class="nav-item">
                <a
                  class="nav-link rounded-pill px-4 py-2 text-morado-oscuro border-morado-intermedio-1"
                  routerLink="mi-perfil"
                  routerLinkActive="active router-link-active"
                >
                  <mat-icon
                    class="me-2"
                    style="font-size: 18px; height: 18px; width: 18px"
                    >person</mat-icon
                  >
                  Mi Perfil
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link rounded-pill px-4 py-2 text-morado-oscuro border-morado-intermedio-1"
                  routerLink="mis-pedidos"
                  routerLinkActive="active router-link-active"
                >
                  <mat-icon
                    class="me-2"
                    style="font-size: 18px; height: 18px; width: 18px; "
                    >shopping_bag</mat-icon
                  >
                  Mis Pedidos
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <div>
    <router-outlet></router-outlet>
  </div>
</div>
