<div class="container py-5 separacion-header-home">
  <div class="row mb-5">
    <div class="col-12">
      <div class="row p-0 m-0 divider-con-borde">
        <p class="h3 text-morado-intermedio-1 extrabold">Mi Cuenta</p>
      </div>
    </div>
  </div>

  <!-- Navegación por pestañas -->
  <div class="row mb-4">
    <div class="col-12">
      <ul class="nav nav-pills justify-content-start gap-2" id="settingsTabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active rounded-pill px-4 py-2 text-morado-oscuro border-morado-intermedio-1" 
                  id="perfil-tab" 
                  data-bs-toggle="pill" 
                  data-bs-target="#perfil" 
                  type="button" 
                  role="tab" 
                  aria-controls="perfil" 
                  aria-selected="true">
            <mat-icon class="me-2" style="font-size: 18px; height: 18px; width: 18px;">person</mat-icon>
            Mi Perfil
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link rounded-pill px-4 py-2 text-morado-oscuro border-morado-intermedio-1" 
                  id="pedidos-tab" 
                  data-bs-toggle="pill" 
                  data-bs-target="#pedidos" 
                  type="button" 
                  role="tab" 
                  aria-controls="pedidos" 
                  aria-selected="false">
            <mat-icon class="me-2" style="font-size: 18px; height: 18px; width: 18px;">shopping_bag</mat-icon>
            Mis Pedidos
          </button>
        </li>
      </ul>
    </div>
  </div>

  <!-- Contenido de las pestañas -->
  <div class="tab-content" id="settingsTabsContent">
    <!-- Pestaña Mi Perfil -->
    <div class="tab-pane fade show active" id="perfil" role="tabpanel" aria-labelledby="perfil-tab">
      <div class="row g-4">
        <!-- Información personal -->
        <div class="col-lg-8">
          <div class="card border-morado-intermedio-1 rounded-4">
            <div class="card-header bg-morado-intermedio-1 text-blanco rounded-top-3">
              <h5 class="mb-0 bold">Información Personal</h5>
            </div>
            <div class="card-body p-4">
              <form  [formGroup]="userForm" (ngSubmit)="guardarCambios()">
                <div class="row g-3">
                  <div class="col-md-6">
                    <div class="form-floating">
                      <input type="text" class="form-control border-morado-intermedio-1" id="nombre" placeholder="Nombre"  formControlName="nombre" required>
                      <label for="nombre" class="text-morado-oscuro">Nombre</label>
                    </div>
                  </div>
                  
                  <div class="col-md-6">
                    <div class="form-floating">
                      <input type="text" class="form-control border-morado-intermedio-1" id="apellidos" placeholder="Apellidos" formControlName="apellidos" required>
                      <label for="apellidos" class="text-morado-oscuro">Apellidos</label>
                    </div>
                  </div>
                  
                  <div class="col-md-6">
                    <div class="form-floating">
                      <input type="email" class="form-control border-morado-intermedio-1" id="email" placeholder="Email" formControlName="email" required>
                      <label for="email" class="text-morado-oscuro">Email</label>
                    </div>
                  </div>
                  
                  <div class="col-md-6">
                    <div class="form-floating">
                      <input type="tel" class="form-control border-morado-intermedio-1" id="telefono" placeholder="Teléfono" formControlName="telefono" required>
                      <label for="telefono" class="text-morado-oscuro">Teléfono</label>
                    </div>
                  </div>
                  
                  <div class="col-md-6">
                    <div class="form-floating">
                      <input type="password" class="form-control border-morado-intermedio-1" id="passwd" placeholder="Contraseña" formControlName="password" required>
                      <label for="passwd" class="text-morado-oscuro">Contraseña</label>
                    </div>
                  </div>

                   <div class="col-md-6">
                    <div class="form-floating">
                      <input type="password" class="form-control border-morado-intermedio-1" id="repetirPasswd" placeholder="Repetir contraseña" formControlName="passwordConfirm" required>
                      <label for="repetirPasswd" class="text-morado-oscuro">Repetir contraseña</label>
                    </div>
                  </div>
                </div>
                
                <div class="text-end mt-4">
                  <button type="submit" class="btnSinIcono py-2 px-4" style="width: auto;">
                    Guardar cambios
                  </button>
                </div>
              </form>
            </div>
        </div>

        <!-- Dirección de envío
          <div class="card border-morado-intermedio-1 rounded-4 mt-4">
            <div class="card-header bg-morado-intermedio-1 text-blanco rounded-top-3">
              <h5 class="mb-0 bold">Dirección de Envío</h5>
            </div>
            <div class="card-body p-4">
              <form>
                <div class="row g-3">
                  <div class="col-12">
                    <div class="form-floating">
                      <input type="text" class="form-control border-morado-intermedio-1" id="direccion" placeholder="Dirección" value="Calle Mayor, 123">
                      <label for="direccion" class="text-morado-oscuro">Dirección</label>
                    </div>
                  </div>
                  
                  <div class="col-md-4">
                    <div class="form-floating">
                      <input type="text" class="form-control border-morado-intermedio-1" id="codigoPostal" placeholder="Código postal" value="28001">
                      <label for="codigoPostal" class="text-morado-oscuro">Código postal</label>
                    </div>
                  </div>
                  
                  <div class="col-md-4">
                    <div class="form-floating">
                      <input type="text" class="form-control border-morado-intermedio-1" id="ciudad" placeholder="Ciudad" value="Madrid">
                      <label for="ciudad" class="text-morado-oscuro">Ciudad</label>
                    </div>
                  </div>
                  
                  <div class="col-md-4">
                    <div class="form-floating">
                      <input type="text" class="form-control border-morado-intermedio-1" id="provincia" placeholder="Provincia" value="Madrid">
                      <label for="provincia" class="text-morado-oscuro">Provincia</label>
                    </div>
                  </div>
                </div>
                
                <div class="text-end mt-4">
                  <button type="submit" class="btnSinIcono py-2 px-4" style="width: auto;">
                    Actualizar dirección
                  </button>
                </div>
              </form>
            </div>
          </div> -->
        </div>
        
        <!-- Panel lateral -->
        <div class="col-lg-4">
          <!-- Avatar y datos básicos -->
          <!-- <div class="card border-morado-intermedio-1 rounded-4 mb-4">
            <div class="card-body p-4 text-center">
              <div class="bg-morado-claro rounded-circle d-flex align-items-center justify-content-center mx-auto mb-3" 
                   style="width: 100px; height: 100px;">
                <mat-icon style="font-size: 50px; height: 50px; width: 50px; color: var(--morado-intermedio-1);">
                  person
                </mat-icon>
              </div>
              <h5 class="text-morado-oscuro bold mb-1">{{userLogueado()?.nombre}} {{userLogueado()?.apellidos}}</h5>
              <button class="btnSinIcono py-2 px-3" style="width: auto; font-size: 14px;">
                Cambiar foto
              </button>
            </div>
          </div> -->
          
          <!-- Estadísticas -->
          <div class="card border-morado-intermedio-1 rounded-4">
            <div class="card-header bg-morado-claro">
              <h6 class="mb-0 text-morado-oscuro bold">Resumen de actividad</h6>
            </div>
            <div class="card-body p-4">
              <div class="d-flex justify-content-between mb-3">
                <span class="text-morado-oscuro">Pedidos realizados:</span>
                <span class="text-morado-intermedio-1 bold">{{numPedidosUser()}}</span>
              </div>
              <div class="d-flex justify-content-between">
                <span class="text-morado-oscuro">Productos favoritos:</span>
                <span class="text-morado-intermedio-1 bold">8</span> <!--TODO: cambiar esto cuando se hagan los favs-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Pestaña Mis Pedidos -->
     <div class="tab-pane fade" id="pedidos" role="tabpanel" aria-labelledby="pedidos-tab">
      <div class="row">
        <div class="col-12">

          <!-- Filtros de pedidos -->
          <div class="mb-4">
            <div class="card-body p-3">
              <div class="row g-3 align-items-center">
                <div class="col-md-4">

                  <select class="form-select border-morado-intermedio-1" (change)="filtrarPorEstado($event)">
                    <option value="todos" selected>Todos los pedidos</option>
                    @for (estado of estadosPedidos(); track estado) {
                        <option [value]="estado[1]">{{ estado[0] }}</option>
                    }
                  </select>

                </div>
                <!-- <div class="col-md-4">
                  <input type="date" class="form-control border-morado-intermedio-1" placeholder="Fecha desde">
                </div>
                <div class="col-md-4">
                  <input type="date" class="form-control border-morado-intermedio-1" placeholder="Fecha hasta">
                </div> -->
              </div>
            </div>
          </div>
          
          <!-- Lista de pedidos -->
          <div class="row g-4">

           @for (pedido of pedidosUserFiltrados(); track pedido.id) {
             <div class="col-12">
              <div class="card border-morado-intermedio-1 rounded-4">
                <div class="card-body p-4">
                  <div class="row align-items-top">
                    <div class="col-md-2">
                      <div class="text-center">
                        <h6 class="text-morado-oscuro bold mb-1">Pedido {{pedido.id}}</h6>
                        <small class="text-morado-oscuro">{{pedido.fecha | date:'dd/MM/yyyy'}}</small>
                      </div>
                    </div>
                    
                    <div class="col-md-6">
                      <div class="d-flex flex-column gap-2">
                        @for (linea of lineasPorPedido().get(pedido.id!); track linea.id) {
                            <div class="d-flex align-items-center">
                                
                            <div class="bg-morado-claro rounded me-3" style="width: 60px; height: 60px; overflow: hidden;">
                                <img [src]="linea.productoDTO.urlImagen" alt="Producto" class="img-fluid w-100 h-100 object-fit-cover">
                            </div>

                            <div>
                                <h6 class="text-morado-oscuro bold mb-1">{{ linea.productoDTO.nombre }}</h6>
                                <p class="text-morado-oscuro small mb-0">
                                    {{ linea.cantidad }} producto{{ linea.cantidad! > 1 ? 's' : '' }} • {{ (linea.productoDTO?.precio ?? 0) * linea.cantidad! | precioEuro }}
                                </p>
                            </div>
                            </div>

                        }
                      </div>
                    </div>

                    <div class="col-md-2">
                        <h5 class="text-morado-oscuro bold mb-1">{{pedido.importe! | precioEuro }}</h5>
                    </div>
                    
                    @if (pedido.estado === "completado") {
                        <div class="col-md-2 text-center">
                          <span class="badge bg-verde text-blanco rounded-pill px-3 py-2">
                            Completado
                          </span>
                        </div>
                    } @else if (pedido.estado === "cancelado") {
                        <div class="col-md-2 text-center">
                          <span class="badge bg-rojo text-blanco rounded-pill px-3 py-2">
                            Cancelado
                          </span>
                        </div>
                    } @else if (pedido.estado === "pendiente") {
                          <div class="col-md-2 text-center">
                          <span class="badge bg-morado-intermedio-1 text-blanco rounded-pill px-3 py-2">
                            Pendiente
                          </span>
                        </div>
                    }
                    
                    <!-- <div class="col-md-2 text-end">
                      <button class="btn btn-sm text-morado-intermedio-1 border-morado-intermedio-1 rounded-pill px-3">
                        Ver detalles
                      </button>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
           }
          </div>
          
          <!-- Paginación
          <div class="row mt-4">
            <div class="col-12 d-flex justify-content-center">
              <nav aria-label="Navegación de pedidos">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link text-morado-intermedio-1 border-morado-intermedio-1" href="#" aria-label="Anterior">
                      <mat-icon>chevron_left</mat-icon>
                    </a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link bg-morado-intermedio-1 border-morado-intermedio-1" href="#">1</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link text-morado-intermedio-1 border-morado-intermedio-1" href="#">2</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link text-morado-intermedio-1 border-morado-intermedio-1" href="#" aria-label="Siguiente">
                      <mat-icon>chevron_right</mat-icon>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div> -->
        </div>
      </div>
    </div>

  </div>
</div>